.text {
  margin-top: 10px;
  margin-left: 10px;
}

.text img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.text p,
span {
  color: #fff;
  margin-left: 4px;
}
